<ion-content [fullscreen]="true" style="--background: #2c2c2c;">
  <div class="flex items-center px-4 py-3 bg-[#2c2c2c]">
    <ion-icon name="chevron-back" (click)="irAtras()"
      class="text-white text-3xl cursor-pointer active:scale-95 transition-transform"></ion-icon>
  </div>

  <div class="flex flex-col items-center min-h-full px-10 py-6">
    <div class="mb-6 w-full flex justify-center">
      <img src="../../../../assets/images/migo_logo.png" alt="Migo Ads" class="h-24 object-contain">
    </div>

    <div class="w-full text-center mb-8">
      <p class="text-gray-400 text-sm mb-2">Se restablecerá la contraseña de:</p>
      <div class="flex items-center justify-center space-x-2 bg-[#3a3a3a] py-2 px-4 rounded-full">
        <ion-icon name="person-circle-outline" class="text-white text-xl"></ion-icon>
        <span class="text-white font-bold text-sm">{{ emailUser }}</span>
      </div>
    </div>

    <div class="w-full flex flex-col space-y-6">

      <div class="border-b border-white pb-2 mb-4 text-center">
        <input type="text" maxlength="6" [(ngModel)]="codigoValidacion" placeholder="CÓDIGO (Ej: 123456)"
          class="w-full bg-transparent text-[#00c2b8] placeholder-gray-500 outline-none font-bold text-xl text-center tracking-widest uppercase">
      </div>

      <div class="border-b border-white pb-2 relative">
        <input [type]="mostrarPass1 ? 'text' : 'password'" [(ngModel)]="inputValue" placeholder="Nueva Contraseña"
          maxlength="10"
          class="w-full bg-transparent text-white placeholder-gray-400 outline-none font-bold text-sm pr-10">
        <ion-icon [name]="mostrarPass1 ? 'eye-outline' : 'eye-off-outline'" (click)="mostrarPass1 = !mostrarPass1"
          class="absolute right-2 top-1/2 -translate-y-1/2 text-white text-lg cursor-pointer"></ion-icon>
      </div>

      <div class="border-b border-white pb-2 relative">
        <input [type]="mostrarPass2 ? 'text' : 'password'" [(ngModel)]="inputValue2"
          placeholder="Confirmar Nueva Contraseña" maxlength="10"
          class="w-full bg-transparent text-white placeholder-gray-400 outline-none font-bold text-sm pr-10">
        <ion-icon [name]="mostrarPass2 ? 'eye-outline' : 'eye-off-outline'" (click)="mostrarPass2 = !mostrarPass2"
          class="absolute right-2 top-1/2 -translate-y-1/2 text-white text-lg cursor-pointer"></ion-icon>
      </div>

      <p *ngIf="noCoincide" class="text-red-500 text-xs font-bold text-center mt-1">Las contraseñas no coinciden</p>
    </div>

    <button (click)="actualizar()"
      class="bg-[#00c2b8] active:bg-teal-600 text-black font-bold py-3 px-8 rounded-xl mt-12 text-[15px] shadow-md tracking-wide w-full">
      RESTABLECER
    </button>
  </div>
</ion-content>