<ion-tabs>
  <ion-tab-bar slot="bottom" class="bg-[#1a1a1a] border-t border-gray-800 h-16">
    
    <ion-tab-button tab="home" class="bg-transparent text-gray-400 focus:text-white">
      <ion-icon name="home-outline" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] mt-1">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panel" class="bg-transparent text-gray-400 focus:text-white">
      <ion-icon name="speedometer-outline" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] mt-1">Panel de control</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="solicitudes" class="bg-transparent text-gray-400 focus:text-white">
      <ion-icon name="calendar-outline" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] mt-1">Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recorrido" class="bg-transparent text-gray-400 focus:text-white">
      <ion-icon name="location-outline" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] mt-1">Recorrido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" class="bg-transparent text-gray-400 focus:text-white">
      <ion-icon name="person-outline" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] mt-1">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>